name: Node.js CI

on: [push, pull_request]

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        node-version: [12.x, 14.x, 15.x]
      fail-fast: false
      max-parallel: 1
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the source
        uses: actions/checkout@v2
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install the dependencies
        run: yarn install
      - name: Run the tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: yarn test --coverage

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/v')
    needs: test
    runs-on: macos-latest
    steps:
      - name: Checkout the source
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Install the dependencies
        run: yarn install
      - name: Build the application
        run: yarn release -mwl
      - name: Release the application
        uses: softprops/action-gh-release@v1
        with:
          files: |
            release/ElectronReactParcel-mac.zip
            release/ElectronReactParcel-win.zip
            release/ElectronReactParcel-linux.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
